<ion-view view-title="ABOUT">
    <ion-content>
        <ion-list>
            <ion-item class="item item-text-wrap">
                <p><strong>Lean Startup Machine is NOT a hackathon.</strong></p>

<p>It's an intensive three-day workshop which teaches entrepreneurs and innovators how to build disruptive products.
</p>
<br/>
<p><strong>How It Works</strong></p>

<p>
The workshop kicks off with a series of product pitches that help attendees organize into teams. Everyone works on a NEW idea. Each team then develops its problem hypothesis, solution hypothesis and a series of assumptions which are core to the success of the business.
Next, each team creates an MVP, or "Minimum Viable Product." The goal of the MVP test is to "Get Out Of the Building," speak with real customers and to collect cash or non-cash currency which serves as validation.
The process promotes a problem-centric approach to business ideation. By continuously validating and invalidating assumptions, teams are forced to pivot their solution (and even problem) toward a true customer pain; rather than creating a solution and after-the-fact seeking customers with a problem.
The event culminates with each team pitching its new solutions and its experience using the process. In this competition the winning team is not selected based on who has the best idea, but instead on which team honors the process and gains the most insights through its pivots.</p>
            <br/>
            <p>
                <strong>Learn more</strong>
            </p>
            <p>
                <a href="https://www.leanstartupmachine.com">https://www.leanstartupmachine.com</a>
            </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>