<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-lsm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="side-menu">
    <ion-content scroll="false">
      <ion-list>
        <ion-item nav-clear class="menu-logo">
              <img src="./img/logo-lsm-invert.svg" width="240px" />
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/agenda">
            <div class="icon-menu"><i class="ion-calendar"></i></div>AGENDA
        </ion-item>
          <ion-item nav-clear menu-close href="#/app/speakers">
              <div class="icon-menu"><i class="ion-mic-b"></i></div>SPEAKERS
          </ion-item>
        <ion-item nav-clear menu-close href="#/app/mentors">
            <div class="icon-menu"><i class="ion-person"></i></div>MENTORS
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/documents">
            <div class="icon-menu"><i class="ion-document-text"></i></div>DOCUMENTS
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/venue">
            <div class="icon-menu"> <i class="ion-ios-location"></i></div>VENUE
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/about">
            <div class="icon-menu"><i class="ion-help-circled"></i></div>ABOUT
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
