<ion-view view-title="Speakers">
    <ion-content>
            <div class="card" ng-repeat="speaker in speakers">
                <div class="item item-text-wrap speaker-item" >
                    <div class="speaker-image" back-img="./img/{{speaker.image}}">
                        <div class="speaker-name">
                            <h2>{{speaker.name | uppercase}}</h2>
                        </div>
                    </div>
                    <p>
                        {{speaker.longBio}}
                    </p>
                </div>
                <div class="item speaker-footer">
                    <a href="{{speaker.twitterUrl}}">
                        <p><i class="icon ion-social-twitter"></i>{{speaker.twitterId}}</p>
                    </a>
                </div>
            </div>
    </ion-content>
</ion-view>
